.breadcrumb {
  padding: 0;
  background: none;
  font-size: 13px;
}

.breadcrumb a {
  color: #000;
  opacity: 0.56;
}

.header-wrapper > .breadcrumb-wrapper {
  height:30px;
}

.header-wrapper > .title-wrapper {
  padding-bottom:30px;
}
