.title {
  margin-top: 0;
  font-weight: 500;
  float: left;
}

.titleWrap {
  padding-bottom: 1em;
}

.explanation {
  padding-bottom: 1em;
}


.usageHint {
  line-height: 22px;
  text-align: center;
}

.usageHintAction {
  text-decoration: none;
}
